## Data

According to the question, following data are required.

I need to compare 5 possible locations with current cinemas in Hong Kong. Therefore, I need to find a list of Sydney cinema and cinema's geographic coordinates.

In [2]:
# Import necessary library
import json
import pandas as pd

In [6]:
# Download the cinema list
!wget -O hk_cinema_list.json https://hkmovie6.com/api/cinemas/lists

--2020-01-25 08:24:07--  https://hkmovie6.com/api/cinemas/lists
Resolving hkmovie6.com (hkmovie6.com)... 104.31.67.1, 104.31.66.1, 2606:4700:3035::681f:4201, ...
Connecting to hkmovie6.com (hkmovie6.com)|104.31.67.1|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/json]
Saving to: ‘hk_cinema_list.json’

    [ <=>                                   ] 56,405       352KB/s   in 0.2s

2020-01-25 08:24:08 (352 KB/s) - ‘hk_cinema_list.json’ saved [56405]

In [7]:
cinemas_json = None
with open('hk_cinema_list.json', 'r', encoding='utf-8') as f:
    cinemas_json = json.load(f)
    
cinemas = []
for data in cinemas_json['data']:    
    cinemas.append({
        'Name': data['name'],
        'ChiName': data['chiName'],
        'Address': data['address'],
        'Latitude': data['lat'],
        'Longitude': data['lon']
    })
df_cinemas = pd.DataFrame(cinemas, columns=['Name','ChiName','Address','Latitude','Longitude'])

In [13]:
print('There are {} cinemas in Hong Kong'.format(len(df_cinemas)))

There are 73 cinemas in Hong Kong

First five Cinemas of Hong kong

In [14]:
df_cinemas.head()

,Name,ChiName,Address,Latitude,Longitude
0,Emperor Cinemas（CITYWALK）,英皇戲院（荃灣荃新天地）,"Citywalk II, Tsuen Wan",22.369749,114.113714
1,Emperor Cinemas（iSQUARE）,英皇戲院（尖沙咀iSQUARE）,"7/F, iSQUARE, 63 Nathan Road, Tsim Sha Tsui",22.304873,114.190682
2,Emperor Cinemas（Entertainment Building）,英皇戲院（中環娛樂行）,"3/F, Emperor Cinemas Entertainment Building, 3...",22.281453,114.154230
3,Emperor Cinemas（Ma On Shan）,英皇戲院（馬鞍山新港城中心）,"L2, MOSTown, Sai Sha Road, Ma On Shan, N.T.",22.424120,114.230957
4,Emperor Cinemas（Tuen Mun）,英皇戲院（屯門新都商場）,"3/F, New Town Commercial Arcade, 2 Tuen Lee St...",22.390776,113.975983